<%@tasks.each do |task|%>
    <p>
        <input type="checkbox"
               <%="id='chk_#{task[:id]}'"%>
               name=""
               class=""
               <%="itemid='#{task[:id]}'"%>
               <%=task[:complete] ? 'checked' : ''%> 
               onClick="managerTask(this);" />
        
               <b>Tarefa: </b><%=task[:description]%>(<%=task[:id]%>)
        <%#=task[:complete]%> 
        <input type="button"
               id="" 
               class="" 
               value="Deletar" 
               <%="itemid='#{task[:id]}'"%>
               onClick="deleteTask(this);" />
     </p>
<%end%>

<script>
    $("p:even").css("background-color", "#bbbbff");
</script>
