<%@tasks.each do |task|%>
    <p>
    <input type="checkbox"
        <%="id='chk_#{task[:id]}'"%>
        name=""
        class=""
        <%="itemid='#{task[:id]}'"%>
        <%=task[:complete] ? 'checked' : ''%> 
        onClick="updateTask(this);" />
        
    <b>id:</b><%=task[:id] %> |
    <b>desc.:</b><%=task[:description]%> |
    <b>complete:</b><%=task[:complete]%></p>
<%end%>
<script>
    $("p:even").css("background-color", "#bbbbff");
</script>
