<%@tasks.each do |task|%>
    <div class="tasks">
        <input type="checkbox"
               <%="id='cb_#{task[:id]}'"%>
               <%="itemid='#{task[:id]}'"%>
               <%=task[:complete] ? 'checked' : ''%> 
               onClick="managerTask(this);" />
        <label <%="for='cb_#{task[:id]}'"%>></label>       

        <span <%="id='span_#{task[:id]}'"%> <%=task[:complete] ? "class='task_complete'" : '' %>>
               <%=task[:description]%>(<%=task[:id]%>)
        </span>
       
        <div class="options_task">
            <input type="button"
                   class="btn_edit"
                   value="Editar" 
                   <%="itemid='#{task[:id]}'"%>
                   onClick="showFormToEditTask(this);return false;" />
            <input type="button"
                   class="btn_delete"
                   value="Deletar" 
                   <%="itemid='#{task[:id]}'"%>
                   onClick="deleteTask(this);return false;" />
        </div>
        <div id="div_edit_task_<%=task[:id]%>" class="edit_task">
            <input type="text"
                   id="txt_edit_task_<%=task[:id]%>"
                   itemid="<%=task[:id]%>"
                   class="txt_edit_task"
                   value=""/>
            <input type="button"
                   class="btn_edit_ok"
                   value="ok"
                   <%="itemid='#{task[:id]}'"%>
                   onClick="updateTask(this);"/>                
             <input type="button"
                   class="btn_edit_cancel"
                   value="Cancelar"
                   <%="itemid='#{task[:id]}'"%>
                   onClick="hiddenFormOfEditTask(this);return false;"/>
        </div>
   </div>
<%end%>
