<%@tasks.each do |task|%>
    <div class="tasks">
        <input type="checkbox"
               <%="id='chk_#{task[:id]}'"%>
               <%="itemid='#{task[:id]}'"%>
               <%=task[:complete] ? 'checked' : ''%> 
               onClick="managerTask(this);" />
        <%if task[:complete] == true%>
            <del><%=task[:description]%></del>
        <%else%>
            <%=task[:description]%>  
        <%end%>
        (<%=task[:id]%>)
        <%#=task[:complete]%> 
        <input type="button"
               value="Deletar" 
               <%="itemid='#{task[:id]}'"%>
               onClick="deleteTask(this);return false;" />
    </div>
<%end%>
